.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;

  img {
    width: 100px;
  }

  h2 {
    font-size: 1.2em;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
